@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Special+Elite&family=Tilt+Warp&display=swap");
@font-face {
  font-family: "Stencil Cargo Army";
  src: url("assets/fonts/StencilCargoArmy.woff") format("woff"),
    url("assets/fonts/StencilCargoArmy.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 13px;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
:root {
  --secondary-color: #40f1fe;
  --tertiary-color: #78ff60;

  --primary-color: #f34a4a;
  --accent-color: #ffdb29;
  --border: 2px lightgray solid;
  --header-bg-color: white;
}

body {
  color: white;
  background-color: black;
  font-family: sans-serif;
  /* max-width: 1200px; */
  margin: auto;
  position: relative;
}
header img {
  position: absolute;
  width: 100%;

  object-fit: contain;
  left: 0;
  bottom: 0;

  width: 100%;
  height: auto;
}

body #background {
  bottom: 0;
  position: fixed;
  z-index: -1;
}
header {
  background-color: black;
  color: white;
  height: 100svh;
  position: relative;
  overflow: hidden;
 
  background-color: rgb(238, 241, 255);
}
#music {
  background: radial-gradient(
    circle,
    rgba(238, 241, 255, 1) 0%,
    var(--secondary-color) 70%
  );
}

#tours {
  background: radial-gradient(
    circle,
    rgba(238, 241, 255, 1) 0%,
    var(--primary-color) 70%
  );
}
#home header {
  background: none;
}

#home header span {
  display: block;
  /* background-color: black; */
}
#home div img {
  width: 100%;
  height: 100%;
}

header .polaroid {
  width: 200px;
  height: 200px;
  margin: 10px 0;
}

#home header img:first-child {
  z-index: 1;
}

header .overlay {
  opacity: 0.15;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
#music header div {
  background-color: var(--secondary-color);
  opacity: 0.4;
}

#tours header div {
  background-color: var(--primary-color);
  opacity: 0.4;
}

#merch {
  background: radial-gradient(
    circle,
    rgba(238, 241, 255, 1) 0%,
    var(--accent-color) 70%
  );
}
#merch header div {
  opacity: 0.4;

  background-color: var(--accent-color);
}
header h1 {
  position: absolute;
  left: 0;
  color: #ffffff50;
  z-index: 9;
  padding: 0 30px;
}

#home header h1 {
  position: sticky;
  top: 140px;
}
header .polaroid:nth-child(odd) {
  display: inline-block;
  animation: jitter 3.5s infinite;
  animation-timing-function: step-start;
  animation-direction: reverse;
}

header .polaroid:nth-child(even) {
  display: inline-block;
  animation: jitter 3.5s infinite;
  animation-timing-function: step-start;
  animation-direction: alternate-reverse;
}

main {
  padding: 40px;

  min-height: 100svh;
}
.grid-items {
  display: grid;
  position: absolute;
  max-width: 40%;
  grid-template-columns: repeat(2, 1fr);
}

@keyframes jitter {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3.8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3.3deg);
  }
  100% {
    transform: rotate(2.5deg);
  }
}

h1 {
  font-weight: 900;
  font-family: "Tilt Warp";
  font-size: clamp(5rem, 16vw, 15rem);
}
section{
  margin-top: 45px;
}
h2 {
  font-size: clamp(4rem, 9vw, 7rem);
  margin-top: 30px;
  font-family: "Special Elite";
}

p{
  margin: 10px 0;
  font-size: 1.2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: "Tilt Warp";
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: black;
  min-width: 100%;
}
.albums{
  margin-top: 20px;
  overflow-x: auto;
  width: 100%;
  gap: 30px;
  display: flex;

}
.albums div{
 
  background-repeat: no-repeat;
  background-size: contain;
  
}
.albums img{
  box-shadow: 0 10px 25px rgb(0, 0, 0);

  object-fit: cover;
  height: 150px;
  width: 150px;

}
.albums p{
  margin: 20px 0;
}

.albums div{
  display: flex;
  align-items: start;
  flex-direction: column;

  
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, auto));
  grid-template-rows: repeat(1, 1fr);
  height: 100%;
  list-style: none;

  background-color: transparent;
}
nav li {
  height: 100%;
  width: 100%;
  display: flex;
}

nav a {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 34px 0;

  transition: 0.1s ease;
}
nav a:hover {
  background-color: var(--primary-color);
  color: white;
}
nav .active {
  font-weight: 700;
  top: 0;
  font-size: clamp(2ch, 5vw, 4ch);
  color: var(--primary-color);
}

a {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 720px) {
  header .polaroid {
    left: 50%;
  }
}
