#merch header h1,
#merch header h2 {
  font-size: clamp(2rem, 10vw, 2.7rem);
  font-family: "brevia";
}

#merch header h2 {
  font-weight: 300;
  font-size: 2.7rem;
}

#merch header p {
  max-width: 350px;
}
.content-body {
  position: absolute;
  bottom: 0;
  margin: 20px;
  border: 2px solid white;
  padding: 20px;
}
.mosaic {
  display: grid;
}

.mosaic-block {
  position: relative;
  overflow: hidden;
  min-height: 300px;
}
#shop-merch {
  background-color: black;
}

#shop-art {
  background-color: lightgray;
}
.mosaic-block img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: scale 0.5s;
}

.mosaic-block:hover img {
  scale: 1.05;
}
.mosaic-block button {
  position: absolute;
  border-color: white;
  left: 50%;
  background-color: white;
  transform: translateX(-50%);
  bottom: 10px;
}

#shop-gifts {
  background-color: rgb(169, 246, 255);
}
#shop-books {
  background-color: wheat;
}
#shop-music {
  background-color: rgb(255, 192, 192);
}

.mosaic-block h3 {
  position: relative;
  padding: 1.5rem;
  font-size: 1.3125rem;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 10%, transparent);
  user-select: none;
}

.mosaic-layout-2,
.mosaic-layout-3,
.mosaic-layout-5 {
  /*
    100 - 16 = 84
    First column = 84 * 2/3
    Second column = 84 * 1/3
  */
  grid-template-columns: 2fr 1fr;
}

.mosaic-layout-3 .mosaic-block,
.mosaic-layout-4 .mosaic-block {
  min-height: 250px;
}

.mosaic-layout-3 .mosaic-block:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.mosaic-layout-4 {
  grid-template-columns: repeat(3, 1fr);
}

.mosaic-layout-4 .mosaic-block:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.mosaic-layout-4 .mosaic-block:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 4;
}

.mosaic-layout-5 .mosaic-block {
  min-height: 170px;
}

.mosaic-layout-5 .mosaic-block:nth-child(1),
.mosaic-layout-5 .mosaic-block:nth-child(4) {
  grid-row: span 3;
}

.mosaic-layout-5 .mosaic-block:nth-child(2),
.mosaic-layout-5 .mosaic-block:nth-child(3),
.mosaic-layout-5 .mosaic-block:nth-child(5) {
  grid-row: span 2;
}

@media (max-width: 575px) {
  .mosaic {
    grid-template-columns: 1fr;
  }
}
