#shop header h1,
#shop header h2 {
  font-family: "brevia", Geneva, Tahoma, sans-serif;
}
#shop header h1 {
  font-size: clamp(2rem, 12vw, 7rem);
}
#shop header h2 {
  font-weight: 300;
  font-size: clamp(2rem, 6vw, 2.7rem);
}

#shop header button {
  filter: invert(1);
  margin-top: 30px;
}

#shop header p {
  max-width: 350px;
}

#shop-merch {
  background: url(../assets/images/texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#shop-art {
  background-color: var(--secondary-color);
}
#shop-gifts {
  background-color: rgb(169, 246, 255);
}
#shop-books {
  background-color: var(--tertiary-color);
}
#shop-music {
  background: url(../assets/images/led-dots.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#shop-music img {
  max-width: 60%;
  height: auto;
  align-self: center;
  justify-self: center;
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}
.content-body {
  position: absolute;
  bottom: 0;
  margin: 20px;
  border: 2px solid white;
  padding: 20px;
}
