#tour header {
  height: auto;
}

#tour > img {
  position: fixed;
  width: 100%;

  height: 100%;
  object-fit: cover;
}
#tour {
  color: white;
}

#tour p {
  font-size: 1.1rem;

  line-height: 300%;
}
#tour h1 {
  font-size: clamp(3rem, 6vw, 5rem);
}
#upcoming img {
  width: 100%;

  height: auto;
  flex:1;
  object-fit: cover;
  padding: 5px;
  border: white solid 3px;
}

#upcoming div:first-child {
  flex: 1;
}

#upcoming div:last-child {
  flex: 0.6;
}
#upcoming .details {
  flex: 1;
}
#tour button {
  filter: invert(1);
  margin: 30px 0;
}
#upcoming {
  min-height: 80vh;
  margin: 0;
  padding: 20px;
}
#tour h1 span {
  font-weight: 600;
}
#tour .map {
  border: white solid 3px;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  flex:1;
  height: auto;
  display: flex;
}
#tour .map iframe {
  left: 0;
  top: 0;
  padding: 5px;

  height: 100%;
  width: 100%;
  position: absolute;
}
#tour .socials a {
  filter: invert(0);
}
#tour main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
#tour h1 {
  font-family: "Roboto", 'Courier New', Courier, monospace;
  font-weight: 100;
}
#tour h2 {
  text-align: center;
}

#tour section:not(:first-child) {
  margin-top: 60px;
}

#tour section {
  border: 1px solid white;
  padding: 10px 15px;
}
@media screen and (min-width: 720px) {
  #tour section {
    padding: 10px 60px;
  }

 
  #tour #upcoming {
    display: flex;
    flex-direction: row;
    padding: 70px;

  }
}
