#home header {
  background: url(../assets/images/wall.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#home header img {
  position: absolute;
  aspect-ratio: 1/1;
  object-fit: contain;
  bottom: 0;
  max-height: calc(100vh - 100px);
}

#home header .button {
  background-color: white;
  border-radius: 50px;
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 15px 25px;
  margin-top: 100px;
  transition: 0.2s;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#home header .button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}
/* #home header::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 250px;
  margin: auto;
  background-color: var(--primary-color);
  border-radius: 600px;
} */
#home h2 {
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#home .news-item {
  border: 2px solid black;
  padding: 20px;
  width: 400px;
  margin-bottom: 20px;
}
#home {
  color: black;
}
#home nav {
  margin: 0;
}
#home section {
  background-color: antiquewhite;
}

#home header h1 {
  text-align: center;
  position: absolute;
  bottom: 20px;
  font-family: "blockhead-black-face";
  transform: rotate(-15deg);
  font-size: clamp(5rem, 20vw, 11rem);
  /* text-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1); */
}

.polaroid-container {
  display: flex;
  justify-content: space-evenly;
  max-height: 100px;
  max-width: 660px;
  margin-top: 40px;
  position: relative;
}

.polaroid {
  position: relative;
  min-width: 140px;
  min-height: 140px;
  max-width: 220px;
  max-height: 220px;
  object-fit: contain;
}

.polaroid:nth-child(1) {
  transform: rotate(10deg);
}

.polaroid:nth-child(2) {
  transform: rotate(-10deg);
}

.polaroid:nth-child(3) {
  transform: rotate(15deg);
}

.polaroid:nth-child(4) {
  transform: rotate(-7deg);
}

#home header h1 span {
  display: block;
}

@keyframes jitter {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3.8deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: rotate(-3.3deg);
  }
  100% {
    transform: rotate(2.5deg);
  }
}

@media only screen and (min-width: 720px) {
  #home header::before {
    padding: 300px;
  }
}
