/* Header */
header {
  height: auto;
  position: relative;
}
header img {
  position: relative;
}

.header-content {
  color: white;
  z-index: 9;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  padding: 0;
  font-family: "Whisper";
  font-size: clamp(3rem, 13vw, 8rem);
}
.header-content button {
  background-color: whitesmoke;
  color: black;
  padding: 15px;
  text-align: center;
  max-width: 200px;
}

header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
#music header button:hover {
  border: none;
  background-color: lightgray;
}

/* Video Release */
#video-release img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

#video-release {
  height: 60vh;
  display: flex;
  align-items: center;
}

#video-release::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  opacity: 0.5;
}
#video-release button {
  border-color: white;
  color: white;
}

#video-release button:hover {
  background-color: white;
  color: black;
}

#video-release .section-content {
  z-index: 2;
  color: white;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

/* Albums */
#listen {
  width: 100%;
  background-color: rgb(223, 236, 243);
  align-items: center;
  justify-content: center;
  height: 75vh;
}
.album-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.album-item p {
  margin: 20px 0;
}

.album-item {
  object-fit: contain;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
}
.album-left-arrow,
.album-right-arrow {
  cursor: pointer;
  background-color: black;
  color: white;
  min-width: 30px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100px;
}

.album-left-arrow {
  left: 10px;
}
.album-right-arrow {
  right: 10px;
}
.albums-container {
  width: 100%;
  display: flex;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.album-item:hover > .album-details {
  opacity: 1;
}

/* Swiper */
.swiper-container {
  position: relative;
  margin-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-container div {
  padding: 10px;
}
.swiper-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid black;
}

.swiper-dot.active {
  background: black;
}
.swiper-slide {
  width: 250px;
  height: 250px;
  top: 0;
  position: absolute;

  transition: 0.4s ease-in-out;
  opacity: 0;
}
.swiper-slide.active {
  opacity: 1;
  z-index: 2;
}

.swiper-dots {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 720px) {
  .albums-container {
    display: grid;
    /* max-width: 690px; */
    grid-template-columns: repeat(2, 1fr);
  }
  .swiper-slide {
    width: 300px;
    height: 300px;
  }
}
