@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Elite&family=Tilt+Warp&family=Whisper&display=swap");
@import url("https://use.typekit.net/ors0lnr.css");
#home header {
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 50vh;
}

#anniversary .section-content {
  height: 100%;
  justify-content: space-between;
}

#anniversary {
  background-color: whitesmoke;
  height: 340px;
}

#anniversary h2 {
  font-weight: 700;
  font-size: 3.4rem;
  margin-bottom: 10px;
  font-family: "blockhead-unplugged";
}

header svg {
  transition: 0.1s;
}

header svg:hover {
  color: black;
}

#home h1 {
  position: absolute;
  background: linear-gradient(to bottom, rgb(86, 255, 162), rgb(255, 209, 41));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  top: 0;
  font-size: clamp(4rem, 15vw, 10rem);
  left: 50%;
  text-wrap: nowrap;
  transform: translateX(-50%);
  font-family: "blockhead-black-face";
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#home header .button {
  border-color: white;
  color: white;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transition: transform 0.3s ease-out;
  transform: translateX(-50%);
  transform-origin: center;
}

#home header .button:hover {
  transform: translateX(-50%) scale(1.07);
  background: none;
}

#home .journal-item {
  padding: 0;
}

#home {
  color: black;
}

#home header .socials {
  position: absolute;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 9;
}

#home header .socials a {
  cursor: pointer;
  color: white;
}

#home nav ul li {
  background: none;
}

#home nav a {
  background: none;
}

#home nav a:hover {
  opacity: 0.4;
}

#home nav li:hover {
  border-bottom: 2px solid white;
}

#home nav {
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 0;
  background: none;
  top: unset;
}

.polaroid-container {
  display: flex;
  height: 300px;
  width: 300px;
  position: relative;
}

.polaroid {
  position: absolute;
  max-width: 200px;
  max-height: 240px;
  bottom: 0;
}

.polaroid:nth-child(1) {
  transform: rotate(10deg);
}

.polaroid:nth-child(2) {
  transform: rotate(-10deg);
}

.polaroid:nth-child(3) {
  transform: rotate(15deg);
}

.polaroid:nth-child(4) {
  transform: rotate(-7deg);
}

#beach h2 {
  text-shadow: 4px 3px 0 rgb(255, 245, 103);
  z-index: 9;
  font-family: "synthemesc", sans-serif;
  z-index: 9;
  font-size: clamp(2.5rem, 13vw, 5rem);
  color: rgb(81, 253, 216);
  opacity: 1;
}

#beach p {
  z-index: 9;
  font-size: 1.2rem;
}

#beach img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#beach {
  height: 60dvh;
  color: white;
}

#beach .section-content {
  justify-content: space-evenly;
}

#beach:after {
  content: "";
  position: absolute;
  top: 0;
  background-image: url(../assets/images/dots1.png);
  opacity: 0.2;
  left: 0;
  background-repeat: repeat-x;
  z-index: 4;
  width: 100%;
  height: 100%;
}

#beach::before {
  content: "";
  position: absolute;
  top: 0;
  background-size: cover;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #3cff46, #efff3f);
  opacity: 0.6;
  z-index: 2;
}

@keyframes jitter {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3.8deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: rotate(-3.3deg);
  }
  100% {
    transform: rotate(2.5deg);
  }
}
@media only screen and (min-width: 720px) {
  #home header::before {
    padding: 300px;
  }
  #home header .socials {
    flex-direction: column;
  }
  #beach h2 {
    font-size: 6rem;
  }
  #home header {
    height: 100dvh;
  }
  #home header .socials {
    left: 30px;
  }
  #home header .button {
    bottom: 120px;
  }
  #home #beach p {
    font-size: 1.6rem;
  }
}
/* Header */
#music header {
  height: auto;
  position: relative;
}

#music header img {
  position: relative;
}

#music header {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50dvh;
}

#music .header-content {
  color: white;
  z-index: 9;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#music header h1 {
  margin: 0;
  padding: 0;
  font-family: "Whisper";
  font-size: clamp(3rem, 13vw, 8rem);
}

#music .header-content button {
  background-color: whitesmoke;
  color: black;
  padding: 15px;
  text-align: center;
  max-width: 200px;
}

#music header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

#music header button:hover {
  border: none;
  background-color: lightgray;
}

/* Video Release */
#video-release img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

#video-release {
  height: 70dvh;
  display: flex;
  align-items: center;
}

#video-release::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  opacity: 0.5;
}

#video-release button {
  border-color: white;
  color: white;
}

#video-release h2 {
  font-family: "felt-tip-senior", sans-serif;
  font-size: clamp(3rem, 12vw, 7rem);
  font-weight: 300;
}

#video-release button:hover {
  background-color: white;
  color: black;
}

#video-release .section-content {
  z-index: 2;
  color: white;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

/* Albums */
#listen {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(223, 236, 243);
  height: 75vh;
}

.album-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.album-item p {
  margin: 20px 0;
}

.album-item {
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
}

.album-item:hover > .album-details {
  opacity: 1;
}

#tour header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  position: fixed;
}

#tour header {
  height: auto;
}

#tour header img {
  position: fixed;
}

#tour {
  color: white;
}

#tour p {
  line-height: 300%;
}

#tour main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#tour h1 {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  max-width: 400px;
  align-self: center;
  font-family: "Roboto";
  font-weight: 100;
}

#tour h2 {
  text-align: center;
}

#tour section {
  border: 1px solid white;
  padding: 10px 15px;
  margin-top: 60px;
}

@media screen and (min-width: 720px) {
  #tour section {
    padding: 10px 60px;
  }
}
#shop header h1,
#shop header h2 {
  font-family: "brevia";
}

#shop header h1 {
  font-size: clamp(2rem, 12vw, 7rem);
}

#shop header h2 {
  font-weight: 300;
  font-size: clamp(2rem, 6vw, 2.7rem);
}

.shop {
  min-height: 100dvh;
}

#shop header p {
  max-width: 350px;
}

#shop-merch {
  background-color: black;
}

#shop-art {
  background-color: lightgray;
}

#shop-gifts {
  background-color: rgb(169, 246, 255);
}

#shop-books {
  background-color: wheat;
}

#shop-music {
  background-color: rgb(255, 192, 192);
}

.content-body {
  position: absolute;
  bottom: 0;
  margin: 20px;
  border: 2px solid white;
  padding: 20px;
}

#band header {
  height: auto;
}

#band section {
  width: 100%;
  background-color: white;
  height: 85vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#band h2 {
  font-family: "blockhead-unplugged";
}

#band .section-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px 20px;
}

#band .section-content {
  justify-content: start;
  max-width: 800px;
}

#band section .socials a {
  width: 20px;
  height: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#band section .socials img {
  width: 20px;
  height: 20px;
}

#band section .socials img {
  filter: invert(0);
}

#band section .socials {
  gap: 8px;
}

#band h2 {
  line-height: 0;
}

#band p {
  margin: 10px;
}

#band section p {
  text-align: left;
}

#band .section-right {
  flex: 1;
  height: 60%;
  position: absolute;
  bottom: 0;
  width: auto;
}

#band section:nth-child(4) {
  background-color: rgb(255, 215, 215);
}

#band section:nth-child(3) .section-left {
  border: none;
  background-color: rgba(169, 246, 255, 0.4);
}

#band section:nth-child(1) .section-left {
  border: none;
  background-color: rgb(255, 215, 215);
}

#band section:nth-child(1) {
  background-color: white;
}

#band section:nth-child(2) {
  background-color: bisque;
}

#band .section-right img {
  width: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
}

@media only screen and (min-width: 720px) {
  #band .section-content {
    flex-direction: row;
  }
  #band .section-left {
    padding: 40px 40px 20px;
  }
  #band section:nth-child(odd) .section-content {
    flex-direction: row-reverse;
  }
  #band .section-right img {
    width: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
  #band .section-left {
    position: absolute;
    top: 30px;
  }
  #band section:nth-child(odd) .section-left {
    right: 30px;
  }
  #band section:nth-child(even) .section-left {
    left: 30px;
  }
  #band section:nth-child(odd) .section-right {
    left: -100px;
  }
  #band section:nth-child(even) .section-right {
    right: 0;
  }
  #band .section-right {
    flex: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 200px;
    width: 50%;
  }
  #band section {
    height: 80vh;
  }
}
* {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

:root {
  --primary-color: rgb(84, 212, 255);
  --tertiary-color: #78ff60;
  --secondary-color: #f83e3e;
  --accent-color: #ffdb29;
  --border: 2px lightgray solid;
  --header-bg-color: white;
}

/* Swiper */
.control-button.left-arrow {
  left: 10px;
}

.control-button.right-arrow {
  right: 10px;
}

.control-button {
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: black;
  color: white;
  min-width: 30px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  border-radius: 100px;
}

.swiper-container {
  width: 100%;
  display: flex;
  height: 100%;
  top: 0;
  position: relative;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.swiper-container div {
  padding: 10px;
}

.swiper-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid black;
}

.swiper-dot.active {
  background: black;
}

.swiper-slide {
  width: 250px;
  height: 250px;
  position: absolute;
  transition: 0.4s ease-in-out;
  opacity: 0;
}

.swiper-slide.active {
  opacity: 1;
  z-index: 2;
}

.play-button.control-button {
  background-color: white;
  color: black;
}

.swiper-dots {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

body {
  color: black;
  max-width: 1700px;
  margin: auto;
  position: relative;
  background-color: black;
  background-attachment: fixed;
  background-image: url(../assets/images/texture.jpg);
}

header img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.header-content {
  padding: 30px;
  max-width: 700px;
}

header {
  transition: 0.3s;
  color: white;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: black;
}

header .header-top a {
  font-size: 2rem;
  color: white;
  font-family: "blockhead-plain";
}

header .header-top {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
}

header .overlay {
  top: 100px;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
}

img {
  transition: 0.3s;
}

.section-content {
  padding: 20px;
  height: 100%;
  width: 100%;
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section h2 {
  padding: 30px;
}

.section-content p {
  max-width: 450px;
}

main {
  min-height: 100dvh;
}

header h1 {
  line-height: 120%;
  z-index: 99;
}

.link:hover {
  border-bottom-width: 2px;
}

.grid-items {
  display: grid;
  position: absolute;
  max-width: 40%;
  grid-template-columns: repeat(2, 1fr);
}

button {
  background: none;
  border: 1.5px solid black;
  color: black;
  font-family: "Roboto";
  font-weight: 300;
  padding: 10px;
  min-width: 160px;
  max-width: 200px;
  letter-spacing: 3px;
  font-size: 1.3rem;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

h2 {
  font-size: clamp(3rem, 9vw, 4rem);
  font-family: "Special Elite";
}

h1 {
  font-weight: 900;
  font-family: "blockhead";
  font-size: clamp(5rem, 20vw, 10rem);
}

h3 {
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}

p {
  margin: 10px 0;
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  letter-spacing: 2px;
  line-height: 200%;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: "Roboto";
  letter-spacing: 2px;
}

.link {
  color: black;
  font-family: "Roboto";
  border: 0 solid black;
  transition: 0.1s ease;
}

nav {
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: "Tilt Warp";
  position: sticky;
  margin-top: 60px;
  top: 0;
  background-color: black;
  max-height: 90px;
  padding: 10px 0;
  z-index: 99;
}

nav ul {
  display: flex;
  gap: 8px;
  padding: 0 8px;
  list-style: none;
}

nav li {
  transition: 0.2s ease;
  height: 100%;
  width: 100%;
  display: flex;
}

nav a {
  font-family: "Roboto";
  width: 100%;
  font-weight: 300;
  display: flex;
  padding: 15px;
  background-color: black;
  letter-spacing: 4px;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease;
}

nav a:not(.active):hover {
  margin-bottom: 2px;
}

nav li {
  background-color: white;
}

nav a.active {
  margin-bottom: 2px;
  color: white;
}

footer svg {
  color: white;
}

footer svg:hover {
  opacity: 0.6;
}

footer .link {
  color: white;
  border-bottom-color: white;
}

footer {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.socials {
  gap: 25px;
  display: flex;
  transition: 0.2s;
}

.socials a {
  width: 20px;
  height: 20px;
}

.socials img {
  width: 100%;
  filter: invert(1);
  height: 100%;
}

.mosaic {
  display: grid;
  min-height: 150vh;
}

.mosaic-block {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mosaic-block img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: scale 0.5s;
}

.mosaic-block:hover img {
  scale: 1.05;
}

.mosaic-block button {
  border-color: transparent;
  color: black;
  background-color: rgba(255, 255, 255, 0.8705882353);
  bottom: 0;
  left: 0;
  margin: 20px;
  align-self: center;
  width: 90%;
}

.mosaic-block button:hover {
  background-color: rgba(242, 242, 242, 0.785);
}

.mosaic {
  grid-template-columns: 1fr;
}

.mosaic-block h3 {
  position: relative;
  padding: 1.5rem;
  font-size: 1.3125rem;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.1) 10%, transparent);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media only screen and (min-width: 720px) {
  .swiper-slide {
    width: 300px;
    height: 300px;
  }
  .socials {
    gap: 30px;
  }
  button {
    padding: 15px;
    width: 200px;
  }
  .mosaic-layout-2,
  .mosaic-layout-3,
  .mosaic-layout-5 {
    grid-template-columns: 2fr 1fr;
  }
  .mosaic-layout-3 .mosaic-block,
  .mosaic-layout-4 .mosaic-block {
    min-height: 250px;
  }
  .mosaic-layout-3 .mosaic-block:nth-child(1) {
    grid-area: 1/1/3/2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .mosaic-layout-4 {
    grid-template-columns: repeat(3, 1fr);
  }
  .mosaic-layout-4 .mosaic-block:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .mosaic-layout-4 .mosaic-block:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .mosaic-layout-5 .mosaic-block {
    min-height: 170px;
  }
  .mosaic-layout-5 .mosaic-block:nth-child(1),
  .mosaic-layout-5 .mosaic-block:nth-child(4) {
    grid-row: span 3;
  }
  .mosaic-layout-5 .mosaic-block:nth-child(2),
  .mosaic-layout-5 .mosaic-block:nth-child(3),
  .mosaic-layout-5 .mosaic-block:nth-child(5) {
    grid-row: span 2;
  }
}/*# sourceMappingURL=styles.css.map */