@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Elite&family=Tilt+Warp&family=Whisper&display=swap");
@import url("https://use.typekit.net/ors0lnr.css");
#home header {
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 60vh;
}

#anniversary .section-content {
  height: 100%;
  justify-content: space-between;
}

#newsletter h2 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
}

#newsletter {
  background-color: var(--tertiary-color);
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#newsletter .section-content {
  justify-content: space-evenly;
}

#newsletter .newsletter-bottom {
  text-align: center;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

#anniversary {
  padding: 40px;
  background-color: whitesmoke;
  height: 60vh;
}

#anniversary h2 {
  font-family: "blockhead-unplugged", "Barriecito", sans-serif;
}

header .socials img:hover {
  filter: invert(0);
}

.socials img:hover {
  opacity: 0.7;
}

#home h1 {
  text-align: center;
  background: linear-gradient(to bottom, rgb(86, 255, 162), rgb(255, 209, 41));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  top: 0;
  font-size: clamp(4rem, 15vw, 10rem);
  width: 100%;
  left: 20px;
  font-family: "blockhead-black-face", "Barriecito", sans-serif;
  font-weight: bold;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#home header .button {
  border-color: white;
  color: white;
  position: absolute;
  bottom: 70px;
  left: 50%;
  padding: 15px;
  transition: transform 0.3s ease-out;
  transform: translateX(-50%);
  transform-origin: center;
}

#home header .button:hover {
  transform: translateX(-50%) scale(1.07);
  background: none;
}

#home .journal-item {
  padding: 0;
}

#home {
  color: black;
}

#home header .socials {
  position: absolute;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 9;
}

#home header .socials a {
  cursor: pointer;
  color: white;
}

#home nav ul li {
  background: none;
}

#home nav a {
  background: none;
}

#home nav a:hover {
  opacity: 0.4;
}

#home nav li:hover {
  border-bottom: 2px solid white;
}

#home nav {
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 0;
  background: none;
  top: unset;
}

.polaroid-container {
  display: flex;
  height: 300px;
  width: 300px;
}

.polaroid {
  position: absolute;
  max-width: 200px;
  max-height: 240px;
  bottom: 0;
}

#beach h2 {
  text-shadow: 4px 3px 0 rgb(255, 245, 103);
  z-index: 9;
  font-family: "synthemesc", Impact, sans-serif;
  z-index: 9;
  color: rgb(81, 253, 216);
  opacity: 1;
}

#beach p {
  z-index: 9;
  font-size: 1.2rem;
}

#beach img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

#beach {
  height: 60dvh;
  color: white;
}

#beach .section-content {
  justify-content: space-evenly;
}

#beach:after {
  content: "";
  position: absolute;
  top: 0;
  background-image: url(../assets/images/dots1.png);
  opacity: 0.2;
  left: 0;
  background-repeat: repeat-x;
  z-index: 4;
  width: 100%;
  height: 100%;
}

#beach::before {
  content: "";
  position: absolute;
  top: 0;
  background-size: cover;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #3cff46, #efff3f);
  opacity: 0.6;
  z-index: 2;
}

.modal {
  z-index: 999;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-description {
  text-align: center;
}

.modal.open {
  display: flex;
}

.modal h2 {
  text-align: center;
  font-size: clamp(2.2rem, 6vw, 3rem);
}

.modal-content {
  background-color: #fefefe;
  margin: 30px;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.polaroid {
  position: absolute;
  max-width: 190px;
  height: auto;
}

.polaroid:nth-child(1) {
  left: 0;
  top: 0;
  transform: rotate(10deg);
}

.polaroid:nth-child(2) {
  right: 0;
  bottom: 0;
  transform: rotate(-10deg);
}

.modal-description {
  color: #555;
  margin-bottom: 20px;
}

.form-group {
  margin: 30px 0;
  font-family: "Roboto", "Courier New", Courier, monospace;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input[type=email] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-group input[type=email]:focus {
  outline: none;
  border-color: skyblue;
  box-shadow: 0 0 5px rgba(var(--primary-color-rgb), 0.5);
}

.form-group .form-hint {
  font-size: 14px;
  color: #777;
  margin-top: 3px;
}

.form-group input[type=checkbox] {
  margin-right: 8px;
  vertical-align: middle;
}

.form-group label[for=newsletter-opt-in] {
  display: inline-block;
  font-weight: normal;
}

.modal-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
}

button:hover img {
  filter: invert(1);
}

.close-button {
  height: 50px;
  min-width: unset;
  width: 50px;
}

@keyframes jitter {
  0% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3.8deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: rotate(-3.3deg);
  }
  100% {
    transform: rotate(2.5deg);
  }
}
@media only screen and (min-width: 720px) {
  #home header::before {
    padding: 300px;
  }
  #home header .socials {
    flex-direction: column;
  }
  #home header {
    min-height: 100vh;
  }
  #home header .socials {
    left: 30px;
  }
  #home header .button {
    bottom: 120px;
  }
  #home #beach p {
    font-size: 1.6rem;
  }
}
/* Header */
#music header {
  min-height: auto;
}

#music header img {
  position: relative;
}

#music header h1 {
  margin: 0;
  padding: 0;
  font-family: "Whisper", serif;
  font-size: clamp(3rem, 13vw, 8rem);
}

#music header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}

/* Video Release */
#video-release img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

#video-release {
  height: 70dvh;
  display: flex;
  align-items: center;
}

#video-release::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 62, 62, 0.5);
}

#video-release button {
  filter: invert(1);
}

#video-release h2 {
  font-family: "felt-tip-senior", Arial, Helvetica, sans-serif;
  font-size: clamp(3rem, 12vw, 7rem);
  font-weight: 300;
}

#video-release .section-content {
  z-index: 2;
  color: white;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

/* Albums */
#listen {
  width: 100%;
  background-color: rgb(223, 236, 243);
  height: 75vh;
}

.section-content {
  max-width: 600px;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.album-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.album-item p {
  margin: 20px 0;
}

.album-item {
  -o-object-fit: contain;
     object-fit: contain;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
}

/* Swiper */
.control-button.left-arrow {
  left: 10px;
}

.control-button.right-arrow {
  right: 10px;
}

.control-button {
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  padding: 20px;
  display: flex;
  height: 40px;
  width: 40px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 100%;
  display: flex;
  height: 100%;
  top: 0;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.swiper-container div {
  padding: 10px;
}

.swiper-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 1.5px solid black;
}

.swiper-dot.active {
  background: black;
}

.swiper-slide {
  width: 250px;
  height: 250px;
  position: absolute;
  transition: 0.4s ease-in-out;
  opacity: 0;
}

.swiper-slide.active {
  opacity: 1;
  z-index: 2;
}

.play-button.control-button {
  background-color: white;
  color: black;
}

.swiper-dots {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#tour header {
  min-height: auto;
}

#tour > img {
  position: fixed;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#tour {
  color: white;
}

#tour p {
  font-size: 1.1rem;
  line-height: 300%;
}

#tour h1 {
  font-size: clamp(3rem, 6vw, 5rem);
}

#upcoming img {
  width: 100%;
  height: auto;
  flex: 1;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
  border: white solid 3px;
}

#upcoming div:first-child {
  flex: 1;
}

#upcoming div:last-child {
  flex: 0.6;
}

#upcoming .details {
  flex: 1;
}

#tour button {
  filter: invert(1);
  margin: 30px 0;
}

#upcoming {
  min-height: 80vh;
  margin: 0;
  padding: 20px;
}

#tour h1 span {
  font-weight: 600;
}

#tour .map {
  border: white solid 3px;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  flex: 1;
  height: auto;
  display: flex;
}

#tour .map iframe {
  left: 0;
  top: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  position: absolute;
}

#tour .socials a {
  filter: invert(0);
}

#tour main {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#tour h1 {
  font-family: "Roboto", "Courier New", Courier, monospace;
  font-weight: 100;
}

#tour h2 {
  text-align: center;
}

#tour section:not(:first-child) {
  margin-top: 60px;
}

#tour section {
  border: 1px solid white;
  padding: 10px 15px;
}

@media screen and (min-width: 720px) {
  #tour section {
    padding: 10px 60px;
  }
  #tour #upcoming {
    display: flex;
    flex-direction: row;
    padding: 70px;
  }
}
#shop header h1,
#shop header h2 {
  font-family: "brevia", Geneva, Tahoma, sans-serif;
}

#shop header h1 {
  font-size: clamp(2rem, 12vw, 7rem);
}

#shop header h2 {
  font-weight: 300;
  font-size: clamp(2rem, 6vw, 2.7rem);
}

#shop header button {
  filter: invert(1);
  margin-top: 30px;
}

#shop header p {
  max-width: 80%;
}

#shop-merch {
  background: url(../assets/images/texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#shop-art {
  background-color: var(--secondary-color);
}

#shop-gifts {
  background-color: rgb(169, 246, 255);
}

#shop-books {
  background-color: var(--tertiary-color);
}

#shop-music {
  background: url(../assets/images/led-dots.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#shop-music img {
  max-width: 60%;
  height: auto;
  align-self: center;
  justify-self: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content-body {
  position: absolute;
  bottom: 0;
  margin: 20px;
  border: 2px solid white;
  padding: 20px;
}

#band header {
  min-height: auto;
}

#band section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#band .section-left {
  display: flex;
  max-width: 450px;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px 20px;
  position: absolute;
  margin: 20px;
  top: 20px;
}

#band .section-right {
  position: absolute;
  height: 100%;
  overflow: visible;
  bottom: -40%;
}

#band section .socials a {
  width: 20px;
  height: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#band section .socials img {
  width: 20px;
  height: 20px;
}

#band section .socials img {
  filter: invert(0);
}

#band section .socials {
  gap: 8px;
}

#band p {
  margin: 10px;
}

#band section p {
  text-align: left;
}

#band section:nth-child(4) {
  background-color: var(--secondary-color);
}

#band section:nth-child(3) {
  background-color: white;
}

#band section:nth-child(3) .section-left {
  border: none;
  background-color: var(--primary-color);
}

#band section:nth-child(1) .section-left {
  border: none;
  background-color: var(--secondary-color);
}

#band section:nth-child(1) {
  background-color: white;
}

#band section:nth-child(2) {
  background-color: var(--tertiary-color);
}

#band .section-right img {
  width: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
}

@media only screen and (min-width: 720px) {
  #band .section-content {
    flex-direction: row;
  }
  #band .section-left {
    padding: 40px 40px 20px;
  }
  #band section:nth-child(odd) .section-content {
    flex-direction: row-reverse;
  }
  #band .section-right img {
    width: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 90%;
  }
  #band section:nth-child(odd) .section-left {
    right: 30px;
  }
  #band section:nth-child(even) .section-left {
    left: 30px;
  }
  #band section:nth-child(odd) .section-right {
    left: -100px;
  }
  #band section:nth-child(even) .section-right {
    right: 0;
  }
  #band .section-right {
    height: 120%;
    -o-object-fit: cover;
       object-fit: cover;
    flex: 1;
    overflow: visible;
  }
  #band section {
    height: 80vh;
  }
}
* {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

:root {
  --primary-color: rgb(217, 251, 255);
  --tertiary-color: bisque;
  --secondary-color: rgb(255, 215, 215);
  --accent-color: rgb(240, 34, 96);
}

body {
  color: black;
  max-width: 1700px;
  margin: auto;
  background-color: black;
  background-attachment: fixed;
  background-image: url(../assets/images/texture.jpg);
}

header img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  bottom: 0;
}

header {
  transition: 0.3s;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: black;
}

header .header-top a {
  font-size: 2rem;
  color: white;
  font-family: "blockhead-plain", "Barriecito", sans-serif;
}

header .header-top {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.section-content {
  padding: 30px;
  height: 100%;
  width: 100%;
  max-width: 750px;
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  overflow: hidden;
}

main {
  min-height: 100dvh;
}

header h1 {
  line-height: 120%;
  z-index: 99;
}

.link:hover {
  border-bottom-width: 2px;
}

.button.secondary,
button.secondary {
  background-color: whitesmoke;
  color: black;
  padding: 15px;
  text-align: center;
  opacity: 0.85;
}

.button.secondary,
button.secondary:hover {
  background-color: rgba(243, 243, 243, 0.8);
}

.row-container {
  display: flex;
}

button,
.button {
  height: 35px;
  max-width: 150px;
  background: none;
  color: black;
  font-family: "Roboto", "Courier New", Courier, monospace;
  font-weight: 300;
  border: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.button.primary,
button.primary {
  border: 1.5px solid black;
}

button.primary:hover {
  background-color: black;
  color: white;
}

h2 {
  font-size: clamp(2.5rem, 13vw, 5rem);
  font-family: "blockhead-unplugged", "Barriecito", sans-serif;
}

h1 {
  font-weight: 900;
  font-family: "blockhead", "Barriecito", sans-serif;
  font-size: clamp(5rem, 20vw, 10rem);
}

h3 {
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-family: "Roboto", "Courier New", Courier, monospace;
  font-weight: 600;
}

p {
  margin: 10px 0;
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  letter-spacing: 2px;
  line-height: 200%;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: "Roboto", "Courier New", Courier, monospace;
  letter-spacing: 2px;
}

.link {
  color: black;
  font-family: "Roboto", "Courier New", Courier, monospace;
  border: 0 solid black;
  transition: 0.1s ease;
}

nav {
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: "Tilt Warp", Verdana, Geneva, Tahoma, sans-serif;
  position: sticky;
  margin-top: 60px;
  top: 0;
  background-color: black;
  max-height: 90px;
  padding: 10px 0;
  z-index: 99;
}

nav ul {
  display: flex;
  gap: 8px;
  padding: 0 8px;
  list-style: none;
}

nav li {
  transition: 0.2s ease;
  height: 100%;
  width: 100%;
  display: flex;
}

nav a {
  font-family: "Roboto", "Courier New", Courier, monospace;
  width: 100%;
  font-weight: 300;
  display: flex;
  padding: 15px;
  background-color: black;
  letter-spacing: 4px;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s ease;
}

nav a:not(.active):hover {
  margin-bottom: 2px;
}

nav li {
  background-color: white;
}

nav a.active {
  margin-bottom: 2px;
  color: white;
}

footer svg {
  color: white;
}

footer svg:hover {
  opacity: 0.6;
}

footer .link {
  color: white;
  border-bottom-color: white;
}

footer {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}

.socials {
  gap: 25px;
  display: flex;
  transition: 0.2s;
}

.socials a {
  width: 20px;
  height: 20px;
}

.socials img {
  width: 100%;
  filter: invert(1);
  height: 100%;
}

.mosaic {
  display: grid;
  min-height: 150vh;
}

.mosaic-block {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mosaic-block img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: scale 0.5s;
}

.mosaic-block:hover img {
  scale: 1.05;
}

.mosaic-block button {
  border-color: transparent;
  color: black;
  background-color: rgba(255, 255, 255, 0.8705882353);
  bottom: 0;
  left: 0;
  margin: 20px;
  align-self: center;
  width: 90%;
}

.mosaic-block button:hover {
  background-color: rgba(242, 242, 242, 0.785);
}

.header-box {
  color: white;
  z-index: 9;
  border: 2px solid white;
  margin: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  max-width: 700px;
  max-height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mosaic {
  grid-template-columns: 1fr;
}

.mosaic-block h3 {
  padding: 1.5rem;
  font-size: 1.3125rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.8705882353);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 99;
}

@media only screen and (min-width: 720px) {
  .swiper-slide {
    width: 300px;
    height: 300px;
  }
  .socials {
    gap: 30px;
  }
  button {
    padding: 15px;
    width: 200px;
  }
  .mosaic-layout-2,
  .mosaic-layout-3,
  .mosaic-layout-5 {
    grid-template-columns: 2fr 1fr;
  }
  .mosaic-layout-3 .mosaic-block,
  .mosaic-layout-4 .mosaic-block {
    min-height: 250px;
  }
  .mosaic-layout-3 .mosaic-block:nth-child(1) {
    grid-area: 1/1/3/2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .mosaic-layout-4 {
    grid-template-columns: repeat(3, 1fr);
  }
  .mosaic-layout-4 .mosaic-block:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .mosaic-layout-4 .mosaic-block:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .mosaic-layout-5 .mosaic-block {
    min-height: 170px;
  }
  .mosaic-layout-5 .mosaic-block:nth-child(1),
  .mosaic-layout-5 .mosaic-block:nth-child(4) {
    grid-row: span 3;
  }
  .mosaic-layout-5 .mosaic-block:nth-child(2),
  .mosaic-layout-5 .mosaic-block:nth-child(3),
  .mosaic-layout-5 .mosaic-block:nth-child(5) {
    grid-row: span 2;
  }
  .header-box {
    margin: 25px;
    padding: 30px;
  }
  button,
  .button {
    max-width: 200px;
    font-size: 1.3rem;
    height: auto;
  }
}/*# sourceMappingURL=styles.css.map */